In [3]:
import pandas as pd
import numpy as np

In [4]:
# Reading CSV files
file="raw_data/schools_complete.csv"
df_schools=pd.read_csv(file,encoding='UTF-8')
df_schools.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
file1="raw_data/students_complete.csv"
df_students=pd.read_csv(file1)
df_students.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# merged_df=pd.merge(df_students,df_schools, left_on='school', right_on='name',how='outer',suffixes=('_studdent','_school'))
# merged_df.head()

In [7]:
# Function to analyze scores and calculate passing rates
def result_analysis(df):
        mean_math=df['math_score'].agg(np.mean)
        mean_reading=df['reading_score'].agg(np.mean)
        df_pass_math=df[df['math_score']>=70]
        df_pass_read=df[df['reading_score']>=70]
        math_percent=len(df_pass_math)/len(df)*100
        read_percent=len(df_pass_read)/len(df)*100
        overall_percent=(math_percent+read_percent)/2
        return([mean_math,mean_reading,math_percent,read_percent,overall_percent])

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [12]:
grouped_byschool=df_students.groupby('school')
school_list=df_schools['name'].value_counts().index.tolist()
for school in school_list:
    grp_school=grouped_byschool.get_group(school)

['Figueroa High School',
 'Wright High School',
 'Wilson High School',
 'Huang High School',
 'Griffin High School',
 'Cabrera High School',
 'Johnson High School',
 'Bailey High School',
 'Pena High School',
 'Shelton High School',
 'Thomas High School',
 'Hernandez High School',
 'Holden High School',
 'Rodriguez High School',
 'Ford High School']

In [10]:
help(pd.DataFrame.groupby.get_group)

AttributeError: 'function' object has no attribute 'get_group'

In [110]:
groupedbyschool=merged_df.groupby('school')
school_list=merged_df['school'].value_counts().index.tolist()
# school_list

In [139]:
x=df_schools.loc[df_schools['name']=='Huang High School','budget']
type(x)

pandas.core.series.Series

In [134]:
budget_total=[];result_data=[]
for school in school_list:
    df_school_grped=groupedbyschool.get_group(school) #groupby schools
    result_data.append(result_analysis(df_school_grped))
    budget_total.append(df_schools.loc[df_schools['name']==school,'budget'])
budget_total
    #     output=(budget_total,result_data)
# print(budget_total,result_data)
    # tab=pd.DataFrame.from_records(output)
# tab
# df_original.loc[1, "first_name"]
# df_schools.loc[indx,'budget']
# school_budget
# school_name=df_schools.loc[indx,'name'].tolist()

# print([school_budget,school_name])

# calculation of output
# indx  
# school_type
# df_sch
# school_budget

[7    3124928
 Name: budget, dtype: int64, 12    3094650
 Name: budget, dtype: int64, 3    3022020
 Name: budget, dtype: int64, 11    2547363
 Name: budget, dtype: int64, 1    1884411
 Name: budget, dtype: int64, 0    1910635
 Name: budget, dtype: int64, 13    1763916
 Name: budget, dtype: int64, 5    1319574
 Name: budget, dtype: int64, 6    1081356
 Name: budget, dtype: int64, 10    1049400
 Name: budget, dtype: int64, 2    1056600
 Name: budget, dtype: int64, 14    1043130
 Name: budget, dtype: int64, 4    917500
 Name: budget, dtype: int64, 9    585858
 Name: budget, dtype: int64, 8    248087
 Name: budget, dtype: int64]

In [126]:
budget_total=[];result_data=[]
for school in school_list:
    df_school_grped=groupedbyschool.get_group(school) #groupby schools
    result_data.append(result_analysis(df_school_grped))
    indx=df_schools.index[df_schools['name']==school].tolist()
    budget_total.append(df_schools.at[indx,6])
#     output=(budget_total,result_data)
indx
# df.index[df['BoolCol'] == True].tolist()

ValueError: At based indexing on an integer index can only have integer indexers

In [112]:
df_sch.head()

,Student ID,name_studdent,gender,grade,school,reading_score,math_score,School ID,name_school,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,Bailey High School,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,Bailey High School,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,Bailey High School,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,Bailey High School,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,Bailey High School,District,4976,3124928

In [57]:
# loop for processing each school
# overview_table=[];school_type=[];total_students=[];total_budget=[];per_student_budget=[];test_data=[]
for school in school_list:
    df_sch=groupedbyschool.get_group(school) #groupby schools
    indx=df_sch.index[df_sch['name_school']==school]
    school_budget=df_sch.il
    # calculation of output
    
# school_type
df_sch

,Student ID,name_studdent,gender,grade,school,reading_score,math_score,School ID,name_school,type,size,budget
22847,22847,Daniel Rodriguez,M,11th,Holden High School,86,92,8,Holden High School,Charter,427,248087
22848,22848,Bryan Perkins,M,9th,Holden High School,91,81,8,Holden High School,Charter,427,248087
22849,22849,Scott Holder,M,9th,Holden High School,98,93,8,Holden High School,Charter,427,248087
22850,22850,Troy Jackson,M,11th,Holden High School,80,90,8,Holden High School,Charter,427,248087
22851,22851,William Gomez,M,9th,Holden High School,76,85,8,Holden High School,Charter,427,248087
22852,22852,Lance Lindsey,M,9th,Holden High School,91,99,8,Holden High School,Charter,427,248087
22853,22853,Alice Hernandez,F,11th,Holden High School,86,69,8,Holden High School,Charter,427,248087
22854,22854,Nicole Baldwin,F,11th,Holden High School,89,98,8,Holden High School,Charter,427,248087
22855,22855,Shelly Robertson,F,9th,Holden High School,96,79,8,Holden High School,Charter,427,248087
22856,22856,Anthony Jackson,M,9th,Holden High School,89,89,8,Holden High School,Charter,427,248087
22857,22857,Darren Gross,M,11th,Holden High School,97,86,8,Holden High School,Charter,427,248087
22858,22858,Stephanie Jennings,F,10th,Holden High School,85,84,8,Holden High School,Charter,427,248087
22859,22859,Shawn Nguyen,M,12th,Holden High School,94,95,8,Holden High School,Charter,427,248087
22860,22860,John Espinoza,M,10th,Holden High School,93,80,8,Holden High School,Charter,427,248087
22861,22861,Lisa Rodriguez,F,11th,Holden High School,81,97,8,Holden High School,Charter,427,248087
22862,22862,Nicholas Ward,M,11th,Holden High School,91,97,8,Holden High School,Charter,427,248087
22863,22863,Alexander Bailey,M,9th,Holden High School,75,69,8,Holden High School,Charter,427,248087
22864,22864,Debra Garcia,F,12th,Holden High School,87,69,8,Holden High School,Charter,427,248087
22865,22865,Karen Roberts,F,11th,Holden High School,90,94,8,Holden High School,Charter,427,248087
22866,22866,Tara Williams,F,9th,Holden High School,93,80,8,Holden High School,Charter,427,248087
22867,22867,Charles Hernandez,M,10th,Holden High School,91,81,8,Holden High School,Charter,427,248087
22868,22868,Ashley Anderson,F,12th,Holden High School,94,75,8,Holden High School,Charter,427,248087
22869,22869,Jonathan Jones,M,11th,Holden High School,91,70,8,Holden High School,Charter,427,248087
22870,22870,Nicole Smith,F,9th,Holden High School,70,78,8,Holden High School,Charter,427,248087
22871,22871,Megan Carr,F,11th,Holden High School,88,74,8,Holden High School,Charter,427,248087
22872,22872,Jonathan Lopez,M,10th,Holden High School,84,78,8,Holden High School,Charter,427,248087
22873,22873,Craig Barnes,M,12th,Holden High School,75,80,8,Holden High School,Charter,427,248087
22874,22874,Monica Harrington,F,10th,Holden High School,93,82,8,Holden High School,Charter,427,248087
22875,22875,Grant Thomas,M,11th,Holden High School,72,80,8,Holden High School,Charter,427,248087
22876,22876,Timothy Smith,M,10th,Holden High School,81,78,8,Holden High School,Charter,427,248087
...,...,...,...,...,...,...,...,...,...,...,...,...
23244,23244,David Krause,M,11th,Holden High School,78,99,8,Holden High School,Charter,427,248087
23245,23245,Christopher Cox,M,9th,Holden High School,82,88,8,Holden High School,Charter,427,248087
23246,23246,Ruth Myers,F,11th,Holden High School,81,95,8,Holden High School,Charter,427,248087
23247,23247,Jennifer Weber,F,12th,Holden High School,73,79,8,Holden High School,Charter,427,248087
23248,23248,Nathan Graham,M,10th,Holden High School,91,95,8,Holden High School,Charter,427,248087
23249,23249,Michael Boyer,M,10th,Holden High School,69,82,8,Holden High School,Charter,427,248087
23250,23250,Cassandra Rodriguez,F,11th,Holden High School,71,99,8,Holden High School,Charter,427,248087
23251,23251,Angela Richardson,F,10th,Holden High School,93,74,8,Holden High School,Charter,427,248087
23252,23252,Erica Harris,F,11th,Holden High School,75,95,8,Holden High School,Charter,427,248087
23253,23253,Elizabeth Golden,F,9th,Holden High School,74,96,8,Holden High School,Charter,427,248087
23254,23254,Tim Nash,M,10th,Holden High School,73,99,8,Holden High School,Charter,427,248087
23255,23255,Jennifer Cantrell,F,10th,Holden High School,74,69,8,Holden High School,Charter,427,248087
23256,23256,Rachel Hodge,F,10th,Holden High School,76,89,8,Holden High School,Charter,427,248087
23257,23257,Denise Nguyen,F,9th,Holden High School,90,69,8,Holden High School,Charter,427,248087
23258,23258,Robert Harris,M,12th,Holden High School,92,92,8,Holden High School,Charter,427,248087
23259,23259,Samuel Shelton,M,10th,Holden High School,72,89,8,Holden High School,Charter,427,248087
23260,23260,Michael Brown,M,10th,Holden High School,81,86,8,Holden High School,Charter,427,248087
23261,23261,Lisa Evans,F,10th,Holden High School,86,89,8,Holden High School,Charter,427,248087
23262,23262,Paula Robles,F,9th,Holden High School,70,85,8,Holden High School,Charter,427,248087
23263,23263,Bailey Velazquez,F,11th,Holden High School,72,85,8,Holden High School,Charter,427,248087
23264,23264,Dean Stewart,M,10th,Holden High School,88,99,8,Holden High School,Charter,427,248087
23265,23265,James Williams,M,9th,Holden High School,95,77,8,Holden High School,Charter,427,248087
23266,23266,Alexander Thomas,M,9th,Holden High School,80,72,8,Holden High School,Charter,427,248087
23267,23267,Chris Mcbride,M,9th,Holden High School,92,95,8,Holden High School,Charter,427,248087
23268,23268,Mikayla Ortiz,F,12th,Holden High School,85,73,8,Holden High School,Charter,427,248087
23269,23269,Sharon Douglas,F,9th,Holden High School,78,93,8,Holden High School,Charter,427,248087
23270,23270,Lauren Little,F,9th,Holden High School,94,95,8,Holden High School,Charter,427,248087
23271,23271,Christine Kaufman,F,9th,Holden High School,83,95,8,Holden High School,Charter,427,248087
23272,23272,Christina Smith,F,11th,Holden High School,94,84,8,Holden High School,Charter,427,248087
23273,23273,Joyce Martin,F,10th,Holden High School,77,92,8,Holden High School,Charter,427,248087

In [45]:
# i=df_schools.index[df_schools['name']=='Holden High School'].tolist()
# # print(i)
# # print(df_schools.loc[i,'type'])
x=df_schools[df_schools['name']=='Holden High School']
y=x.loc[:,'type'].tolist()
y

['Charter']

In [37]:
output_label=['School Name','School Type','Total Students','Total School Budget','Per Student Budget',
             'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading',
              'Overall Passing Rate']
output_df=pd.DataFrame.from_records(overview_table,columns=output_label)
output_df
# print(overview)
# overview

AssertionError: 10 columns passed, passed data had 6 columns